* {
    box-sizing: border-box;
}

html {
    min-height: 100vh;
}

body {
    margin: 0;
    background: #003;
    background-image:
    radial-gradient(white, rgba(255,255,255,.2) 2px, transparent 7px),
    radial-gradient(white, rgba(255,255,255,.15) 1px, transparent 2px),
    radial-gradient(white, rgba(255,255,255,.1) 2px, transparent 7px),
    radial-gradient(white, rgba(255,255,255,.15) 1px, transparent 1px);
    background-size: 550px 550px, 350px 350px, 250px 250px, 150px 150px;
    background-position: 0 0, 40px 60px, 130px 270px, 70px 100px;
}

.page-title {
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    text-align: center;
    font-size: 6em;
}

.game-info-container {
    grid-column: 1 / -1;
    display: flex;
    justify-content: space-between;
}

.game-info {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: white;
    font-size: 2em;
    font-weight: bolder;
}

.game-container {
    display: grid;
    grid-template-columns: repeat(4, auto);
    grid-gap: 10px;
    margin: 50px;
    justify-content: center;
    perspective: 500px;
}

.card {
    position: relative;
    height: 175px;
    width: 125px;
}

.card-front {
    background-color: white;
    border-color: black;
    transform: rotateY(180deg);
}

.card-value {
    transition:  transform 100ms ease-in-out;
    transform: scale(.9);
}

.card-front:hover .card-value {
    transform: scale(1);
}

.card.visible .card-back {
    transform: rotateY(-180deg);
}
.card.visible .card-front {
    transform: rotateY(0);
}

.card.matched .card-value {
    animation-name: zzz;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    transition: all 2s;
}

.overlay-text {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    justify-content: center;
    align-items: center;
    z-index: 100;
    color: #DC143C;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.overlay-text-small {
    font-size: .3em;
}

.overlay-text.visible {
    display: flex;
    flex-direction: column;
    animation: overlay-grow 500ms forwards;
}

@keyframes overlay-grow {
    from {
        background-color: rgba(0, 0, 0, 0);
        font-size: 0;
    }
    to {
        background-color: rgba(0, 0, 0, .8);
        font-size: 10em;
    }
}

@keyframes zzz {
    0%{ transform:rotateY(0deg) }
  100%{ transform:rotateY(360deg) }
}

.card-back {
    background-color: #483D8B;
    border-color: black;

}

.card-face {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    backface-visibility: hidden;
    border-radius: 12px;
    border-width: 1px;
    border-style: solid;
    transition: transform 500ms ease-in-out;
}

.stars {
    align-self: center;
    transform: translateY(12px);
    transition: transform 100ms ease-in-out;
}

.card-face:hover .stars {
    transform: translateY(0);
}
